# DSO 510 Project 


### Import libraries

In [30]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from string import whitespace
import seaborn as sns
import matplotlib.pyplot as plt

### Read dataset

In [31]:
ad = pd.read_excel("/content/DataSource.xlsx")
ad

,Gender,GenderDummy,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Ad Topic Line Edited,Ad Topic Bucket,City,Country,Country Code,Continent,Date,Time,Clicked on Ad
0,Female,0,84.59,35,63102.19,119.93,Persevering even-keeled help-desk,Persevering even keeled help desk,1,Amyfurt,Hungary,HUN,Europe,2016-01-01 02:52:10,2016-01-01 02:52:10,0
1,Female,0,49.58,26,66345.10,248.23,Realigned scalable standardization,Realigned scalable standardization,0,Amyfurt,Macedonia,MKD,Europe,2016-01-01 02:52:10,2016-01-01 02:52:10,0
2,Male,1,64.38,30,69646.35,219.94,Networked stable open architecture,Networked stable open architecture,0,West Steven,Saint Martin,MAF,Americas,2016-01-01 03:35:35,2016-01-01 03:35:35,1
3,Female,0,78.01,30,63879.72,219.94,Stand-alone explicit orchestration,Stand alone explicit orchestration,0,Amandaland,Samoa,WSM,Australia,2016-01-01 03:35:35,2016-01-01 03:35:35,1
4,Male,1,83.55,30,63879.72,219.94,Focused web-enabled Graphical User Interface,Focused web enabled Graphical User Interface,1,Lake Kurtmouth,Australia,AUS,Australia,2016-01-01 03:35:35,2016-01-01 03:35:35,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Female,0,66.01,54,32252.38,113.80,Automated full-range Internet solution,Automated full range Internet solution,1,South George,Eritrea,ERI,Africa,2016-07-23 14:47:23,2016-07-23 14:47:23,1
49996,Female,0,39.19,36,32252.38,114.69,Open-source scalable protocol,Open source scalable protocol,0,Lake Jacqueline,Tunisia,TUN,Africa,2016-07-23 14:47:23,2016-07-23 14:47:23,1
49997,Female,0,66.01,54,32252.38,222.11,Quality-focused bi-directional throughput,Quality focused bi directional throughput,1,South George,Eritrea,ERI,Africa,2016-07-23 14:47:23,2016-07-23 14:47:23,1
49998,Male,1,60.83,38,56909.30,196.76,Customizable 6thgeneration knowledge user,Customizable 6thgeneration knowledge user,0,Lopezberg,Libyan Arab Jamahiriya,LBY,Africa,2016-07-24 00:22:16,2016-07-24 00:22:16,1
49999,Female,0,32.60,42,60812.77,167.86,Customizable 6thgeneration knowledge user,Customizable 6thgeneration knowledge user,0,Hernandezside,United Arab Emirates,ARE,Asia,2016-07-24 00:22:16,2016-07-24 00:22:16,1

In [32]:
ad.describe()

,GenderDummy,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Bucket,Clicked on Ad
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.480280,64.133188,35.835400,53927.726446,174.776637,0.355480,0.497640
std,0.499616,14.842587,8.865057,11413.630035,42.023941,0.478663,0.499999
min,0.000000,32.600000,19.000000,13996.500000,104.780000,0.000000,0.000000
25%,0.000000,49.840000,29.000000,47575.440000,136.180000,0.000000,0.000000
50%,0.000000,66.630000,34.000000,55993.680000,167.860000,0.000000,0.000000
75%,1.000000,76.440000,41.000000,63100.130000,213.750000,1.000000,1.000000
max,1.000000,91.370000,60.000000,79332.330000,269.960000,1.000000,1.000000

### Data Manipulation

In [33]:
#Creating dummy varibales for column "Gender" and adding the new column to the DataFrame
#drop_first=True (P-1) to account for redundancy as we have the intercept
Gender_dummies = pd.get_dummies(ad["Gender"], drop_first=True)
ad.insert(0,'Gender_dummies', Gender_dummies)

In [34]:
#Dropping the "Gender" column
ad = ad.drop('Gender', axis=1)

In [35]:
#Removing hyphen from "Ad Topic Line" column
ad["Ad_Topic_non_hyphen"] = ad['Ad Topic Line'].str.replace('-',' ')

In [36]:
#Dropping the old hyphenated "Ad Topic Line" column
ad = ad.drop('Ad Topic Line', axis=1)

In [37]:
#Counting number of words per row in the "Ad_Topic_non_hyphen" column
ad["Ad length"] = ad["Ad_Topic_non_hyphen"].str.split().str.len()

In [38]:
#Classifying each Ad Topic Line based on the number of words counted in column "Ad length"
ad['Ad classification'] = ad['Ad length'].apply(lambda x: 0 if x <= 4 else 1)

In [39]:
#Rearranging column "Clicked on Ad" to be the last one for clarity
pop_col = ad.pop("Clicked on Ad")
# storing data in new var
ad["Clicked on Ad New"]= pop_col
# creating new col and passing pop col
ad.head(5)

,Gender_dummies,GenderDummy,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line Edited,Ad Topic Bucket,City,Country,Country Code,Continent,Date,Time,Ad_Topic_non_hyphen,Ad length,Ad classification,Clicked on Ad New
0,0,0,84.59,35,63102.19,119.93,Persevering even keeled help desk,1,Amyfurt,Hungary,HUN,Europe,2016-01-01 02:52:10,2016-01-01 02:52:10,Persevering even keeled help desk,5,1,0
1,0,0,49.58,26,66345.10,248.23,Realigned scalable standardization,0,Amyfurt,Macedonia,MKD,Europe,2016-01-01 02:52:10,2016-01-01 02:52:10,Realigned scalable standardization,3,0,0
2,1,1,64.38,30,69646.35,219.94,Networked stable open architecture,0,West Steven,Saint Martin,MAF,Americas,2016-01-01 03:35:35,2016-01-01 03:35:35,Networked stable open architecture,4,0,1
3,0,0,78.01,30,63879.72,219.94,Stand alone explicit orchestration,0,Amandaland,Samoa,WSM,Australia,2016-01-01 03:35:35,2016-01-01 03:35:35,Stand alone explicit orchestration,4,0,1
4,1,1,83.55,30,63879.72,219.94,Focused web enabled Graphical User Interface,1,Lake Kurtmouth,Australia,AUS,Australia,2016-01-01 03:35:35,2016-01-01 03:35:35,Focused web enabled Graphical User Interface,6,1,1

In [40]:
ad['Month of Year'] = pd.DatetimeIndex(ad['Date']).month

In [41]:
pd.get_dummies(ad['Continent'])

       Africa  Americas  Antartica  Asia  Australia  Europe
0           0         0          0     0          0       1
1           0         0          0     0          0       1
2           0         1          0     0          0       0
3           0         0          0     0          1       0
4           0         0          0     0          1       0
...       ...       ...        ...   ...        ...     ...
49995       1         0          0     0          0       0
49996       1         0          0     0          0       0
49997       1         0          0     0          0       0
49998       1         0          0     0          0       0
49999       0         0          0     1          0       0

[50000 rows x 6 columns]

In [42]:
#added the dummy variables for continents that we have 

ad = pd.get_dummies(ad,columns=["Continent"], prefix='',prefix_sep='')
ad

,Gender_dummies,GenderDummy,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line Edited,Ad Topic Bucket,City,Country,...,Ad length,Ad classification,Clicked on Ad New,Month of Year,Africa,Americas,Antartica,Asia,Australia,Europe
0,0,0,84.59,35,63102.19,119.93,Persevering even keeled help desk,1,Amyfurt,Hungary,...,5,1,0,1,0,0,0,0,0,1
1,0,0,49.58,26,66345.10,248.23,Realigned scalable standardization,0,Amyfurt,Macedonia,...,3,0,0,1,0,0,0,0,0,1
2,1,1,64.38,30,69646.35,219.94,Networked stable open architecture,0,West Steven,Saint Martin,...,4,0,1,1,0,1,0,0,0,0
3,0,0,78.01,30,63879.72,219.94,Stand alone explicit orchestration,0,Amandaland,Samoa,...,4,0,1,1,0,0,0,0,1,0
4,1,1,83.55,30,63879.72,219.94,Focused web enabled Graphical User Interface,1,Lake Kurtmouth,Australia,...,6,1,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,66.01,54,32252.38,113.80,Automated full range Internet solution,1,South George,Eritrea,...,5,1,1,7,1,0,0,0,0,0
49996,0,0,39.19,36,32252.38,114.69,Open source scalable protocol,0,Lake Jacqueline,Tunisia,...,4,0,1,7,1,0,0,0,0,0
49997,0,0,66.01,54,32252.38,222.11,Quality focused bi directional throughput,1,South George,Eritrea,...,5,1,1,7,1,0,0,0,0,0
49998,1,1,60.83,38,56909.30,196.76,Customizable 6thgeneration knowledge user,0,Lopezberg,Libyan Arab Jamahiriya,...,4,0,1,7,1,0,0,0,0,0
49999,0,0,32.60,42,60812.77,167.86,Customizable 6thgeneration knowledge user,0,Hernandezside,United Arab Emirates,...,4,0,1,7,0,0,0,1,0,0

In [43]:
conditions = [
    (ad["Month of Year"] <= 3),
    (ad["Month of Year"]<=6 ) & (ad["Month of Year"] > 3),
    (ad["Month of Year"]<=9)  & (ad["Month of Year"] > 6),
    (ad["Month of Year"]<=12) & (ad["Month of Year"] > 12)
]

values = [1,2,3,4]

ad["Quarter Year"] = np.select(conditions, values)

ad

,Gender_dummies,GenderDummy,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line Edited,Ad Topic Bucket,City,Country,...,Ad classification,Clicked on Ad New,Month of Year,Africa,Americas,Antartica,Asia,Australia,Europe,Quarter Year
0,0,0,84.59,35,63102.19,119.93,Persevering even keeled help desk,1,Amyfurt,Hungary,...,1,0,1,0,0,0,0,0,1,1
1,0,0,49.58,26,66345.10,248.23,Realigned scalable standardization,0,Amyfurt,Macedonia,...,0,0,1,0,0,0,0,0,1,1
2,1,1,64.38,30,69646.35,219.94,Networked stable open architecture,0,West Steven,Saint Martin,...,0,1,1,0,1,0,0,0,0,1
3,0,0,78.01,30,63879.72,219.94,Stand alone explicit orchestration,0,Amandaland,Samoa,...,0,1,1,0,0,0,0,1,0,1
4,1,1,83.55,30,63879.72,219.94,Focused web enabled Graphical User Interface,1,Lake Kurtmouth,Australia,...,1,1,1,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,0,66.01,54,32252.38,113.80,Automated full range Internet solution,1,South George,Eritrea,...,1,1,7,1,0,0,0,0,0,3
49996,0,0,39.19,36,32252.38,114.69,Open source scalable protocol,0,Lake Jacqueline,Tunisia,...,0,1,7,1,0,0,0,0,0,3
49997,0,0,66.01,54,32252.38,222.11,Quality focused bi directional throughput,1,South George,Eritrea,...,1,1,7,1,0,0,0,0,0,3
49998,1,1,60.83,38,56909.30,196.76,Customizable 6thgeneration knowledge user,0,Lopezberg,Libyan Arab Jamahiriya,...,0,1,7,1,0,0,0,0,0,3
49999,0,0,32.60,42,60812.77,167.86,Customizable 6thgeneration knowledge user,0,Hernandezside,United Arab Emirates,...,0,1,7,0,0,0,1,0,0,3

In [44]:
ad.head()
ad['Daily Time Spent on Site'].describe()

count    50000.000000
mean        64.133188
std         14.842587
min         32.600000
25%         49.840000
50%         66.630000
75%         76.440000
max         91.370000
Name: Daily Time Spent on Site, dtype: float64

### Regression Model - Multiple Linear Regression

In [45]:
import pandas
from sklearn import linear_model
import statsmodels.api as sm

X = ad[['Gender_dummies','Daily Time Spent on Site','Age','Area Income','Daily Internet Usage','Ad length','Africa','Americas','Antartica','Asia','Australia','Europe','Quarter Year']]
y = ad['Clicked on Ad New']

regr = linear_model.LinearRegression()
X = sm.add_constant(X)        #to add constant value in the model
model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Clicked on Ad New   R-squared:                       0.256
Model:                            OLS   Adj. R-squared:                  0.255
Method:                 Least Squares   F-statistic:                     1430.
Date:                Sun, 04 Dec 2022   Prob (F-statistic):               0.00
Time:                        20:04:00   Log-Likelihood:                -28911.
No. Observations:               50000   AIC:                         5.785e+04
Df Residuals:                   49987   BIC:                         5.796e+04
Df Model:                          12
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -0.1339      0.021     -6.296      0.000      -0.176      -0.092
Gender_dummies               0.0036      0.004      0.927      0.354      -0.004       0.011
Daily Time Spent on Site    -0.0012      0.000     -9.460      0.000      -0.001      -0.001
Age                          0.0245      0.000    109.723      0.000       0.024       0.025
Area Income              -5.258e-07    1.7e-07     -3.097      0.002   -8.59e-07   -1.93e-07
Daily Internet Usage        -0.0016   4.69e-05    -33.109      0.000      -0.002      -0.001
Ad length                    0.0067      0.002      2.894      0.004       0.002       0.011
Africa                       0.1010      0.012      8.160      0.000       0.077       0.125
Americas                     0.0036      0.012      0.287      0.774      -0.021       0.028
Antartica                   -0.2914      0.069     -4.238      0.000      -0.426      -0.157
Asia                         0.0560      0.013      4.471      0.000       0.031       0.081
Australia                   -0.0552      0.013     -4.250      0.000      -0.081      -0.030
Europe                       0.0522      0.013      4.165      0.000       0.028       0.077
Quarter Year                 0.0382      0.003     12.522      0.000       0.032       0.044
==============================================================================
Omnibus:                     9157.627   Durbin-Watson:                   1.184
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2044.751
Skew:                           0.134   Prob(JB):                         0.00
Kurtosis:                       2.046   Cond. No.                     2.35e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.74e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

### New Model (includes most popular titles)

In [46]:
ad['most_popular_titles'] = ad['Ad Topic Line Edited'].apply(lambda x: 1 if x == 
                                                             "Decentralized client driven data warehouse" or
                                                             x == 'Seamless optimal contingency' or
                                                             x == 'Function based fault tolerant model' or
                                                             x == 'Realigned zero tolerance emulation' or
                                                             x == 'Future proofed coherent budgetary management' or
                                                             x == 'Mandatory homogeneous architecture' else 0)

In [47]:
import pandas
from sklearn import linear_model
import statsmodels.api as sm

X2 = ad[['most_popular_titles','Daily Time Spent on Site','Age',
         'Area Income','Daily Internet Usage','Africa','Americas',
         'Antartica','Asia','Australia','Europe','Quarter Year']]
y2 = ad['Clicked on Ad New']

regr = linear_model.LinearRegression()
X2 = sm.add_constant(X2)        #to add constant value in the model
model = sm.OLS(y2, X2).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Clicked on Ad New   R-squared:                       0.282
Model:                            OLS   Adj. R-squared:                  0.282
Method:                 Least Squares   F-statistic:                     1785.
Date:                Sun, 04 Dec 2022   Prob (F-statistic):               0.00
Time:                        20:04:00   Log-Likelihood:                -28007.
No. Observations:               50000   AIC:                         5.604e+04
Df Residuals:                   49988   BIC:                         5.614e+04
Df Model:                          11
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -0.0917      0.019     -4.777      0.000      -0.129      -0.054
most_popular_titles          0.2315      0.005     43.017      0.000       0.221       0.242
Daily Time Spent on Site    -0.0014      0.000    -10.643      0.000      -0.002      -0.001
Age                          0.0225      0.000     99.974      0.000       0.022       0.023
Area Income               5.896e-07   1.69e-07      3.494      0.000    2.59e-07     9.2e-07
Daily Internet Usage        -0.0017   4.61e-05    -36.449      0.000      -0.002      -0.002
Africa                       0.0986      0.012      8.149      0.000       0.075       0.122
Americas                     0.0132      0.012      1.097      0.273      -0.010       0.037
Antartica                   -0.2532      0.067     -3.751      0.000      -0.385      -0.121
Asia                         0.0477      0.012      3.909      0.000       0.024       0.072
Australia                   -0.0455      0.013     -3.586      0.000      -0.070      -0.021
Europe                       0.0475      0.012      3.877      0.000       0.023       0.071
Quarter Year                 0.0344      0.003     11.498      0.000       0.029       0.040
==============================================================================
Omnibus:                    10354.361   Durbin-Watson:                   1.228
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2283.427
Skew:                           0.191   Prob(JB):                         0.00
Kurtosis:                       2.025   Cond. No.                     3.05e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.63e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)